body {
    background-color: #40d0e0;
}

table {
    border: black 1px solid;
}

td {
    background-color: aliceblue;
    border: black 1px solid;
}

th {
    background-color: darkgrey;
    border: black 1px solid;
}

h2 {
    color: crimson;
}